* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 124px;
    display: flex;
    margin-left: 120px;
}

.box {
    display: flex;
    margin-top: 20px;
    gap: 25px;
    color: gray;
    margin-left: 700px;
}

main {
    height: 686px;
    display: flex;
    gap: 120px;
    margin-left: 120px
}

.box1 {
    margin-top: 189px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;

}

button {
    width: 179px;
    height: 53px;
    background-color: palevioletred;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.s2 {
    margin-left: 120px
}

span {
    color: #B90160;
}

.h2 {
    width: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 110px;
}

.box4 {
    display: flex;
    gap: 70px;
    margin-left: 60px;
}

.box3 {
    width: 344px;
    height: 380px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(252, 248, 248);
    border-radius: 20px;
    padding: 0px;
}

.h5 {
    margin-left: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.j4 {
    margin-left: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: gray;
}

@media screen and (max-width:1360px) {
    .box4 {
        margin-left: 0px;
    }

    .box {
        margin-left: 500px;
    }
}

@media screen and (max-width:1273px) {

}

@media screen and (max-width:960px) {
        .box4 {
        display: grid;
        grid-template-columns: 1fr ;
        
        margin-top: 100px;
        transform: scale(1.3);
    }
.box7{
    flex-direction: column;
    gap: 50px;
    min-width: 960px;
}
.box8{
      margin-left: 430px;
}
    .box7 {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .h2 {
        margin-left: 150px;

    }
    footer{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .box8{
        margin-left: 250px;
    }
    .box4{
margin-left: 250px;
    }
.box{
    display: none;
}
    main {
        gap: 50px;
    }

    .box {
        margin-left: 200px;
    }
}

.s1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: palevioletred;
    min-width: 1300px;
    width: 100%;
    margin-top: 250px;
}

.box8 {
    max-width: 440px;
    height: 187px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    border-radius: 10px;
    position: relative;
}

.box7 {
    padding-top: 100px;
     padding-bottom: 100px;
     padding-left: 10px;
   display: flex;
   gap: 10px;
}

.l1 {
    position: absolute;
    bottom: 110px;
    margin-left: 150px;
    
}

.p10 {
    width: 354px;
    height: 60px;
    margin-top: 80px;
    margin-left: 40px;
}

footer {
    margin-top: 149px;
    margin-left: 10px;
    min-height: 165px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 200px;

}

.w1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.g1 {
    width: 33px;
    height: 33px;
}

.bo1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.w2 {
    color: gray;
    width: 224px;
    height:  59px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 9.5px;
    letter-spacing: 0%;
}